@import "tailwindcss";
@plugin "daisyui";

html, body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    max-width: 100vw;
    height: 100dvh;
    width: 100vw;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
}

* {
    box-sizing: border-box;
}

@layer utilities {
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
  }
  .pb-safe-offset-4 {
    padding-bottom: calc(env(safe-area-inset-bottom) + 1rem);
  }
  .pt-safe {
    padding-top: env(safe-area-inset-top);
  }
}
